<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>绝美宋词</title>
  <link rel="stylesheet" href="css/style.css" />
  <script src="./js/vue.min.js"></script>
  <script src="./js/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <h1 style="text-align: center">输入关键字，找一首词</h1>
    <!-- TODO：待补充代码 -->
    <div class="search-form">
      <input type="text" id="search" class="search" placeholder="词牌名 词句 词人" v-model="query" @input="handleInput" />
      <ul class="suggestions">
        <li v-for="poem in filtered">
          <span class="poet" v-html="poem.poetry_content"></span>
          <span class="title" v-html="poem.title"></span>
        </li>
      </ul>
    </div>
  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      // TODO：待补充代码
      data: {
        query: '',
        poems: [],
        filtered: []
      },
      created() {
        this.queryData()
      },
      methods: {
        highlight(text) {
          return `<span class="highlight">${text}</span>`;
        },
        queryData() {
          axios.get('./data.json').then(res => {
            this.poems = res.data;
          })
        },
        handleInput(e) {
          if (this.query) this.filterData(this.query);
          else this.filterData("哈哈哈没有东西!!")
        },
        filterData(keyword) {
          this.filtered = this.poems.filter(
            x => x.poetry_content.includes(keyword)
              || x.author.includes(keyword)
              || x.title.includes(keyword)
          ).map(x => {
            return {
              poetry_content: x.poetry_content.replaceAll(keyword, this.highlight(keyword)),
              title: `${x.title} - ${x.author}`.replaceAll(keyword, this.highlight(keyword)),
            }
          })
        }
      }
    })
  </script>
</body>

</html>